<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
    <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HSC.RTD.AVLAggregatorCore.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <connectionStrings>
    <add name="avl" connectionString="Server=tcp:avldbdev01.database.windows.net,1433;Initial Catalog=AVLAggregatorDB01;Persist Security Info=False;User ID=avluser;Password=Password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="log4net" connectionString="Server=142.107.34.168;Database=AVLAggregator;Uid=CADAdapterUser;Pwd=Password1;" />
  </connectionStrings>
</configuration>