.id {
  text-align: center;
  font-size: large;
  background-color: #337ab7;
  color: white;
}

#save {
  align-content: center;
  width: 7em;
}

#below-table {
  margin-top: 3vh;
}

.pagination {
  float: right;
  margin-right: 3vw;
  margin-top: 12px;
}

.custom-select {
   margin: 3em;
}

.SAlist {
  border-radius: 25px;
  display: inline-block;
  margin-right: 5vw;
  float: left;
  border: 1px solid rgba(0,0,0,0.2);
  width: 30%;
  padding: 2vw;
  min-height: 10em;
}
.SAlist::after {

  clear: both;
  display: block;
}


#selectService {
  min-width: 20%;
  width:auto;
  margin-bottom: 4em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.2);
}
li {
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.2);
}
  li:hover {
    background-color: rgba(0,0,0,0.2);
  }

/*styling for list*/

h4 {
  font: 400 16px/1.6 'Arimo', Verdana, Helvetica, sans-serif;
}
