<div style="padding: 2em">
  <h2>Service Accounts</h2>

  <nav class="navbar">
    <!--<input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="filter">-->
  </nav>

  <table class="values">
    <tr>
      <th> ID </th>
      <th> Login Name</th>
      <th> Name</th>
      <th> Password</th>
      <th> Roles</th>
      <th> Status</th>
      <th> TimeZone</th>
      <th> Delete</th>
    </tr>
    <!-- rows with input for the initial array of objects passed from the Database -->
    <tr *ngFor="let value of values | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
      <td style="text-align: center">{{value.id}}</td>

      <td>
        <input [(ngModel)]="value.loginName" class="form-control" type="text" name="{{value.loginName}}" />
      </td>
      <td>
        <input [(ngModel)]="value.name" class="form-control" type="text" name="{{value.name}}" />
      </td>
      <td>
        <input [(ngModel)]="value.password" class="form-control" type="password" name="{{value.password}}" />
      </td>
      <td>
        <input [(ngModel)]="value.roles" class="form-control" type="text" name="{{value.roles}}" />
      </td>
      <td>
        <input [(ngModel)]="value.status" class="form-control" type="text" name="{{value.status}}" />
      </td>
      <td>
        <input [(ngModel)]="value.timeZone" class="form-control" type="text" name="{{value.timeZone}}" />
      </td>
      <td> <button id="delete-user" class="btn btn-lg btn-danger btn-block" (click)="deleteRow(i)"> delete </button></td>
    </tr>

    <!-- row with input for records that have just been added -->
    <tr *ngFor="let value of newRecords; index as i">
      <td style="text-align: center">TBD</td>


      <td>
        <input [(ngModel)]="value.loginName" class="form-control" type="text" name="{{value.loginName}}" />
      </td>
      <td>
        <input [(ngModel)]="value.name" class="form-control" type="text" name="{{value.name}}" />
      </td>
      <td>
        <input [(ngModel)]="value.password" class="form-control" type="text" name="{{value.password}}" />
      </td>
      <td>
        <input [(ngModel)]="value.roles" class="form-control" type="text" name="{{value.roles}}" />
      </td>
      <td>
        <input [(ngModel)]="value.status" class="form-control" type="text" name="{{value.status}}" />
      </td>
      <td>
        <input [(ngModel)]="value.TimeZone" class="form-control" type="text" name="{{value.TimeZone}}" />
      </td>
      <td> <button id="delete-new" class="btn btn-lg btn-danger btn-block" (click)="deleteNew(i)"> delete </button></td>
    </tr>

    <!-- row with input for a new record -->
    <tr>
      <td style="text-align: center">TBD</td>

      <td>
        <input [(ngModel)]="dboServiceAccount.loginName" class="form-control" type="text" name="{{dboServiceAccount.loginName}}" />
      </td>
      <td>
        <input [(ngModel)]="dboServiceAccount.name" class="form-control" type="text" name="{{dboServiceAccount.name}}" />
      </td>
      <td>
        <input [(ngModel)]="dboServiceAccount.password" class="form-control" type="text" name="{{dboServiceAccount.password}}" />
      </td>
      <td>
        <input [(ngModel)]="dboServiceAccount.roles" class="form-control" type="number" name="{{dboServiceAccount.roles}}" />
      </td>
      <td>
        <input [(ngModel)]="dboServiceAccount.status" class="form-control" type="number" name="{{dboServiceAccount.status}}" />
      </td>
      <td>
        <input [(ngModel)]="dboServiceAccount.TimeZone" class="form-control" type="text" name="{{dboServiceAccount.TimeZone}}" />
      </td>

      <td> <button id="delete-user" class="btn btn-lg btn-success btn-block" (click)="addRowInline()"> add user </button></td>
    </tr>
  </table>

  <div id="below-table">
    <button id="save" class="btn btn-lg btn-primary btn-block" (click)="save()"> save </button>
    <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
  </div>

</div>
