table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

th {
  text-align: center;
  font-size: medium;
  background-color: #E0EEEE;
}

.id {
  text-align: center;
  font-size: large;
  background-color: #337ab7;
  color: white;
}
#add-user, #save {
  align-content: center;
  float: right;
  width: 7em;
}

#below-table {
  margin-top: 3vh;
}

.pagination {
  float: right;
  margin-right: 3vw;
  margin-top: 12px;
}
